.duck{
    margin: auto auto;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    width:fit-content;
    border-radius: 10px;
    box-shadow: rgba(110, 112, 114, 0.3) 0px 8px 24px;
}