:root {
    --primary: #32dac5;
    --secondary: #ff98c6;
    --shadow: rgba(110, 112, 114, 0.3) 0px 8px 24px;
}

* {
    margin: 0;
}

html {
    background: url(images/bg-img.png) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
}