* {

    margin: 0;
}

img {
    height: 200px;
    width: auto;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-right: 0;
    text-decoration: none;
    color: #fff;
    padding: 20px 20px;
}

button {
    margin: 20px;
    text-decoration: none;
    background-color: transparent;
    font-size: 25px;
    color: #000;
    padding: 20px 50px;
    border: 2px solid #32dac5;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: rgba(110, 112, 114, 0.3) 0px 8px 24px;
    ;
}

button::after,
button::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border: inherit;
    transition: all .5s;
    border-radius: 5px;
}

button::before {
    top: -15px;
    left: -15px;
    border-width: 2px 0 0 2px;
    border-color: #ff98c6;
}

button::after {
    bottom: -15px;
    right: -15px;
    border-width: 0 2px 2px 0;
    border-color: #ff98c6;
}

button:hover::before,
button:hover::after {
    width: calc(100% + 27px);
    height: calc(100% + 27px);
}